In [1]:
import pandas as pd
import datetime as dt

In [2]:
# Create a DataFrame for the JC-201509-citibike-tripdata data
citibike_data = pd.read_csv(r'C:\Users\emich\Desktop\penn data science bootcamp\Module18_Assignment\Citi-Bike-Data-Tableau\Resources\JC-201509-citibike-tripdata.csv')
citibike_data.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,61,2015-09-21 14:53:16,2015-09-21 14:54:17,3185,City Hall,40.717732,-74.043845,3185,City Hall,40.717732,-74.043845,24722,Subscriber,1975.0,1
1,290,2015-09-21 14:55:59,2015-09-21 15:00:50,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,24388,Customer,NaN,0
2,786,2015-09-21 14:56:14,2015-09-21 15:09:21,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24442,Subscriber,1962.0,1
3,477,2015-09-21 14:58:35,2015-09-21 15:06:32,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,24678,Subscriber,1977.0,2
4,451,2015-09-21 14:59:55,2015-09-21 15:07:27,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,24574,Subscriber,1977.0,2

In [9]:
# Check datatypes of columns
citibike_data.dtypes

Trip Duration                       int64
Start Time                         object
Stop Time                          object
Start Station ID                    int64
Start Station Name                 object
Start Station Latitude            float64
Start Station Longitude           float64
End Station ID                      int64
End Station Name                   object
End Station Latitude              float64
End Station Longitude             float64
Bike ID                             int64
User Type                          object
Birth Year                        float64
Gender                              int64
tripduration_datetime      datetime64[ns]
dtype: object

In [10]:
# Convert the 'tripduration' column to datetime datatype.
citibike_data["tripduration_datetime"] = pd.to_datetime(citibike_data["Trip Duration"], unit="m")

In [11]:
# Check the datatypes of columns. 
print(citibike_data.dtypes)
citibike_data.head()

Trip Duration                       int64
Start Time                         object
Stop Time                          object
Start Station ID                    int64
Start Station Name                 object
Start Station Latitude            float64
Start Station Longitude           float64
End Station ID                      int64
End Station Name                   object
End Station Latitude              float64
End Station Longitude             float64
Bike ID                             int64
User Type                          object
Birth Year                        float64
Gender                              int64
tripduration_datetime      datetime64[ns]
dtype: object

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,tripduration_datetime
0,61,2015-09-21 14:53:16,2015-09-21 14:54:17,3185,City Hall,40.717732,-74.043845,3185,City Hall,40.717732,-74.043845,24722,Subscriber,1975.0,1,1970-01-01 01:01:00
1,290,2015-09-21 14:55:59,2015-09-21 15:00:50,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,24388,Customer,NaN,0,1970-01-01 04:50:00
2,786,2015-09-21 14:56:14,2015-09-21 15:09:21,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24442,Subscriber,1962.0,1,1970-01-01 13:06:00
3,477,2015-09-21 14:58:35,2015-09-21 15:06:32,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,24678,Subscriber,1977.0,2,1970-01-01 07:57:00
4,451,2015-09-21 14:59:55,2015-09-21 15:07:27,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,24574,Subscriber,1977.0,2,1970-01-01 07:31:00

In [12]:
# Export the Dataframe as a new CSV file without the index.
citibike_data.to_csv("nyc_citi_bike_datetime.csv", index=False)